{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "insertPragma": true,
  "singleQuote": true
}
